#!/bin/bash

export PROJECT=<Enter your Project ID>
export REGION=<Enter your GC location/region>
export SA=<Enter your service account for deploying & running the Cloud Run services>
export IDENTIFIER=<Add a relevant prefix to the created Cloud Run services>
